{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="{% static 'jquery.js'%}"></script>
<style>
.bg-image--18 {
  background-image: url("{% static 'images/img/background.jpg'%}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;color:white; }
</style>
<style> 
    .spinnerouter{
        background:rgb(0,0,0,0.5);position:fixed;width: 100%;height: 100%;z-index:99999;
        top:0px;display: none;}
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid rgb(60, 67, 164); /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite;
        position: absolute;
        left:45%;
        top:45%;
        z-index:999999;
    }
    .spinner-border{
        height:25px;width:25px;border:5px solid white;border-top:5px solid #f0ad4e;
        animation: spin 1s linear infinite;border-radius:50%;margin:auto;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    table,td{
    color:black !important;
    }


</style>
{% endblock %}
{% block body %}
{% if messages %}
    {% for i in messages %}
       
                <div class="alert alert-{{i.tags}} status">{{i}}</div>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
<!-- Start Bradcaump area -->
<div class="spinnerouter">
    <div class="loader">

    </div>
</div>
<div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-light">cart page</h2>
                            <nav class="bradcaump-inner text-light">
                              <a class="breadcrumb-item text-light" href="{% url 'index' %}">Home</a>
                              <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                              <span class="breadcrumb-item active text-light">Order History</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area --> 
    <!-- cart-main-area start -->
    <div class="cart-main-area section-padding--lg bg--white">
        <div class="container">
            <div class="row">
                {% if cart_size is 0 %}
                <h2>Your Shopping cart is empty!!</h2>
                {% else %}
                <div class="col-md-8 col-sm-12">
                    <h2>Total Cart <span id="csize">{{cart_size}}</span></h2>
                    <form action="#">               
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr class="title-top">
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- LINK TO APPLY -->
                                    {% for i in cart %}
                                    <tr class="c-{{i.id}}">
                                        <td class="product-thumbnail"><a href="#"><img src="/media/{{i.photo}}" alt="product img" height="100" /></a></td>
                                        <td class="product-name"><a href="#">{{i.product_name}}</a><br/><small>({{i.restaurant}})</small><small class="text-success">{{i.preparation_time}}</small></td>
                                        <td class="product-price price{{i.id}}"><span class="amount">&#8377;{{i.price}}</span></td>
                                        <td class="product-quantity">
                                                <div class='row'>
                                                    <div class='col-md-3 col-sm-3 col-3'>
                                                        <span onclick="addNum('{{i.id}}','add')">
                                                            <i class="fas fa-plus-circle text-success"></i>
                                                        </span>
                                                    </div>
                                                    <div class='col-md-6 col-sm-6 col-6'>
                                                        <input type="number" id="num" value='{{i.quantity}}' class='form-control num{{i.id}}'>
                                                    </div>
                                                    <div class='col-md-3 col-sm-3 col-3'>
                                                        <span onclick="addNum('{{i.id}}','sub')">              
                                                            <i class="fas fa-minus-circle text-danger"></i>
                                                        </span>
                                                    </div>
                                                </div>
            
                                        <td class="product-subtotal cartprice{{i.id}}">&#8377;{{i.total}}</td>
                                        <td class="product-remove text-danger"><a onclick='removeCart("{{i.id}}")'>X</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form> 
                </div>
                
                <div class="col-md-4 col-sm-12">
                        <div class="cartbox__total__area">
                            <div class="cartbox-total d-flex justify-content-between">
                                <ul class="cart__total__list">
                                    <li>Cart total</li>
                                    <li>Sub Total</li>
                                </ul>
                                <ul class="cart__total__tk">
                                    <li id="itotal">$70</li>
                                    <li id="total">$70</li>
                                </ul>
                            </div>
                            <div class="cart__total__amount">
                                <span>Grand Total</span>
                                <span id='grand'>$140</span>
                            </div>
                            <div class="cartbox__btn">
                                <form action="{% url 'mysite:checkout'%}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="items" name="cids"/>
                                    <input type="hidden" id="totalval" name="totalval"/>
                                    <input type="hidden" id="grandtotalval" name="grandtotal"/>
                                    <input type="hidden" id="itemnum" name="quantity"/>
                                    <input type="hidden" id="cityval" name="city"/>
                                    <input type="hidden" id="email" name="email"/>
                                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                        <li><input type="submit" value="Proceed To Check Out" class="btn btn-outline-danger"></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>  
    </div>
    <script>
    function addNum(id,action){
        $('.spinnerouter').show();
        let v = $('.num'+id).val();
        let updateQuant = 0;
        if(action=='add'){
            updateQuant = parseInt(v)+1;    
        }else{
            updateQuant = parseInt(v)-1;    
        }
        setTimeout(function(){
            $.ajax({
                url:'{% url "mysite:cart" %}',
                type:'get',
                data:{q:updateQuant,id:id},
                success:function(data){
                    $('.num'+id).val(data.quantity);
                    $('.price'+id).html(data.price);
                    $('.cartprice'+id).html(data.price*data.quantity);
                    $('.spinnerouter').hide();
                    $('#csize').html(data.cart_size);
                    grandTotal()
    
                //     Remove Items
                    if(data.quantity==0){
                        removeCart(id);
                }              
                }
            });
        },1000);
    }
    function removeCart(id){
        $.ajax({
            url:'{% url "mysite:removecart"  %}',
            data:{removeid:id},
            success:function(data){
                $('.c-'+id).hide();
                $('.status').html(data.msz);
                $('#csize').html(data.cart_size);
            }
        });
    }
    </script>
    <script>
        let email;
    function grandTotal(){
        $.ajax({
            url:'{% url "mysite:grandTotal" %}',
            success:function(data){
                $('#itotal').html(data.quantity);
                $('#total').html('&#8377;'+data.grand_total);
                $('#grand').html('&#8377;'+data.grand_total);
                $('#email').val(data.email)
                $('#items').val(data.cids)
                $('#grandtotalval').val(data.grand_total)
                $('#itemnum').val(data.quantity);
                $('#cityval').val(data.address);
                }
        });
    }
    $(function(){
        grandTotal();
    })
        </script>
{% else %}
    <h2 class="alert alert-danger text-center">To view cart, You need to login first!!!</h2>
{% endif %}
{% endblock%}