{% extends "base.html"%}
{% load staticfiles%}
{% block body %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-8' style='padding:40px;margin-left:24%;'>
                <div style='width:100%;padding:50px;border-radius:5px;box-shadow:0px 0px 10px black;'>
                    {% if status %}
                        {{status}}
                        <a href="{% url 'index'%}">Go Ho Homepage</a>
                    {% else %}
                    <div class='row'>
                        <div class='col-md-4'>
                            <h2 style='color:green;font-size:100px;'><i class="far fa-check-circle"></i></h2>
                        </div>
                        <div class='col-md-8'>
                            <h2 style='margin-top:10%;'>Order Success!!!</h2>
                        </div>
                        <div class='col-md-12'>
                            <p class='text-success text-center'>
                                Hello {{user.username}} Your order with Txn No: {{txn_id}} received successfully!!!
                            </p>
                            <div class="card text-center">
                                <div class="card-body text-center">
                                    <img src="/media/{{order.assigned_to.profile_pic}}" height="70" width="70" class="rounded-circle">
                                </div>
                                <div class="card-body">
                                    <span>{{order.assigned_to.subtitle}} {{order.assigned_to.user.first_name}}</span>
                                    <span>Will pick your order and will reach to you soon!! </span><br/>
                                    
                                    <strong>Contact to {{order.assigned_to.user.first_name}}</strong><span>{{order.assigned_to.contact}}</span>
                                </div>

                            </div>
                            <small>Thanks for choosing Zykaa!! Your Food will be soon at your door!!</small>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}